html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.navbar {
    display: block;
    margin-top: 0vh;
    margin-bottom: 0vh;
    height: 50px;
    background-image: linear-gradient(rgb(70, 109, 133), rgb(16, 16, 103));
    color: white;
}

.title {
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 25px;
}

#recentCities {
    display: inline-flex;
    padding-left: 0px;
}

.list {
    display: grid;
    float: left;
    padding: 0px;
}

.currentWeather {
    display: inline-flex;
    column-gap: 30px;
    justify-content: space-between;
    padding: 30px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    color: white;
    background-color: rgb(70, 109, 133);
}

.currentData {
    text-align: justify;
}

.cute {
    text-align: center;
}

.weatherData h3 {
    margin-top: 25px;
    padding-left: 15px;
}

.weatherCards {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.dayCard {
    list-style: none;
    padding: 17px 15px;
    border-radius: 5px;
    color: white;
    background-color: rgb(70, 109, 133);
    width: 15%;
}

.hide {
    display: none;
}